## 0. Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import json
from collections import Counter
from datetime import datetime

## 1. Parsing data

In [2]:
# make sure that data.csv file is downloaded
df = pd.read_csv('data.csv')
df = df.dropna(subset=['contracts'])
df.head()

,id,application_date,contracts
1,2925211.0,2024-02-12 19:24:29.135000+00:00,"[{""contract_id"": 522530, ""bank"": ""003"", ""summa..."
3,2925213.0,2024-02-12 19:24:29.135000+00:00,"[{""contract_id"": 522530, ""bank"": ""003"", ""summa..."
5,2925215.0,2024-02-12 19:25:10.176000+00:00,"[{""contract_id"": 522530, ""bank"": ""003"", ""summa..."
6,2925216.0,2024-02-12 19:25:10.176000+00:00,"[{""contract_id"": 522530, ""bank"": ""003"", ""summa..."
8,2925218.0,2024-02-12 19:40:15.507000+00:00,"[{""contract_id"": """", ""bank"": ""062"", ""summa"": ""..."

As we can see `contracts` column is json format and we need to parse it.

Let's learn how the types of `contracts` look like

In [4]:
types = set()
for row in range(df.shape[0]):
  types.add(type(json.loads(df.iloc[row]['contracts'])))
types

{dict, list}

So, in some rows, contracts consist of multiple contracts, in some cases it is just one contract (hence they are `dict` type)

In [5]:
sample = json.loads(df.iloc[0]['contracts'])
keys = [key for key in sample[0]]
keys

['contract_id',
 'bank',
 'summa',
 'loan_summa',
 'claim_date',
 'claim_id',
 'contract_date']

In [6]:
df['contracts']

1      [{"contract_id": 522530, "bank": "003", "summa...
3      [{"contract_id": 522530, "bank": "003", "summa...
5      [{"contract_id": 522530, "bank": "003", "summa...
6      [{"contract_id": 522530, "bank": "003", "summa...
8      [{"contract_id": "", "bank": "062", "summa": "...
                             ...
985    [{"contract_id": "", "bank": "014", "summa": "...
986    [{"contract_id": "", "bank": "014", "summa": "...
989    [{"contract_id": 18410, "bank": "004", "summa"...
991    [{"contract_id": 18410, "bank": "004", "summa"...
995    [{"contract_id": 18410, "bank": "004", "summa"...
Name: contracts, Length: 495, dtype: object

In [7]:
df['contracts'] = df['contracts'].apply(lambda x: json.loads(x))

We can see there are a lot of duplicates.
First 4 contracts are literally the same

In [8]:
df = df.drop_duplicates(subset=['contracts'])

In [9]:
df['contracts']

1      [{'contract_id': 522530, 'bank': '003', 'summa...
8      [{'contract_id': '', 'bank': '062', 'summa': '...
21     [{'contract_id': '', 'bank': '014', 'summa': '...
24     [{'contract_id': '', 'bank': '014', 'summa': '...
33     [{'contract_id': 19795, 'bank': '004', 'summa'...
                             ...
963    [{'contract_id': '', 'bank': 'ORG', 'summa': '...
974    [{'contract_id': '', 'bank': '053', 'summa': '...
979    [{'contract_id': '', 'bank': '014', 'summa': '...
983    [{'contract_id': 29817, 'bank': '004', 'summa'...
989    [{'contract_id': 18410, 'bank': '004', 'summa'...
Name: contracts, Length: 137, dtype: object

We can see that, we don't have duplicates anymore

In some parts of feature engineering, we might be interested how
values look like in the contracts

In [11]:
def val_count(col):
  c = Counter()
  for row in range(df.shape[0]):
    if isinstance(df.iloc[row]['contracts'], dict):
      if col in df.iloc[row]['contracts']:
        c[df.iloc[row]['contracts'][col]] += 1
      else:
        c[None] += 1
    else:
      for contract in df.iloc[row]['contracts']:
        if col in contract:
          c[contract[col]] += 1
        else:
          c[None] += 1
  return c

## 2. Feature `tot_claim_cnt_l180d`

Description: number of claims for last 180 days
Source: contracts
Key fields: `claim_id`, `claim_date`
Special notes:
1. In case `claim date` is `null`, don't take into consideration such claims.
2. In case no claims, then put -3 as a value of this feature.

In [12]:
current_date = datetime.now()
date_format = '%d.%m.%Y'

# this part of the code developed at 11th June, so if you want to reproduce same results,
# please change current_date part to the  `datetime.strptime('11.06.2024', date_format)`

def less_than_180d(date):
  if date is None:
    return 0
  given_date = datetime.strptime(date, date_format)

  difference = current_date - given_date
  return int(difference.days <= 180)

In [13]:
assert less_than_180d('11.06.2024') == 1
assert less_than_180d(None) == 0

In [14]:
claim_id_vals = val_count('claim_id')
claim_id_vals

Counter({609965: 1,
         'F00013731': 1,
         'F00021301': 1,
         'F00037907': 1,
         34852: 1,
         35163: 1,
         'F00058018': 1,
         'F00125905': 1,
         1535899: 1,
         1573562: 1,
         1296934: 1,
         5554725: 1,
         'F00551424': 1,
         551830909: 1,
         6020431: 1,
         451262: 1,
         'F00612689': 1,
         'F00661674': 1,
         'F00895512': 1,
         13497747: 1,
         'F00081453': 1,
         13844974: 1,
         'F01099265': 1,
         'F00081469': 1,
         'F01208844': 1,
         'F00081484': 1,
         'F01299305': 1,
         'F01390677': 1,
         'F00081529': 1,
         553916385: 1,
         553916471: 1,
         553917055: 1,
         553917253: 1,
         553918199: 1,
         553919210: 1,
         553919292: 1,
         553924738: 1,
         553925254: 1,
         'F01488566': 1,
         553937368: 1,
         553937470: 1,
         553937495: 1,
         553937498: 1,
         553939870: 1,
         553941910: 1,
         553966065: 1,
         553966377: 1,
         553966818: 1,
         553967280: 1,
         553980562: 1,
         553985013: 1,
         553985222: 1,
         554005943: 1,
         554007321: 1,
         554032488: 1,
         554033101: 1,
         500010296: 1,
         554042327: 1,
         554064172: 1,
         554064222: 1,
         554123383: 1,
         554123495: 1,
         554123717: 1,
         554123737: 1,
         554123860: 1,
         500010398: 1,
         500010399: 1,
         500010400: 1,
         500010418: 1,
         500010455: 1,
         500010469: 1,
         500010508: 1,
         500010509: 1,
         554231454: 1,
         'F01602545': 1,
         500010530: 1,
         554379703: 1,
         554447670: 1,
         554447788: 1,
         554447833: 1,
         554447871: 1,
         554498885: 1,
         1991749: 1,
         1998201: 1,
         5788937: 1,
         17233201: 1,
         40873100000000: 1,
         'NBU_PS226307-H': 1,
         'NBU_PS226307-J': 1,
         17234819: 1,
         17234908: 1,
         2654941: 1,
         'F01678851': 1,
         73201: 1,
         73205: 1,
         73207: 1,
         273724: 1,
         554491358: 1,
         'ac543274a1527329': 1,
         'F00474493': 1,
         551537687: 1,
         551546208: 1,
         551555457: 1,
         551579758: 1,
         5560809: 1,
         551587871: 1,
         1252175: 1,
         551698371: 1,
         'F00523423': 1,
         95511: 1,
         5993683: 1,
         6031834: 1,
         12212466: 1,
         552314539: 1,
         2411695: 1,
         552846740: 1,
         13442860: 1,
         13442903: 1,
         552848467: 1,
         552849700: 1,
         552855526: 1,
         'F00982443': 1,
         'F01081167': 1,
         'b85971730b7b505aa66': 1,
         'F01263988': 1,
         'F01351723': 1,
         'F01514648': 1,
         554001390: 1,
         'NBU_SL281400#1-H': 1,
         'NBU_SL281400#1-J': 1,
         554053582: 1,
         554065454: 1,
         554260409: 1,
         'F01693976': 1,
         554500114: 1,
         'ac868950a1027621': 1,
         'F01692491': 1,
         554495115: 1,
         554500216: 1,
         19795: 1,
         1151093: 1,
         24389: 1,
         24390: 1,
         24391: 1,
         24392: 1,
         24393: 1,
         24394: 1,
         24395: 1,
         24396: 1,
         24397: 1,
         24398: 1,
         24399: 1,
         24401: 1,
         24403: 1,
         24404: 1,
         24643: 1,
         24656: 1,
         25909: 1,
         25910: 1,
         '9006xb1124132': 1,
         2200004521: 1,
         2200004524: 1,
         2200005030: 1,
         87655: 1,
         87660: 1,
         'F00381217': 1,
         41839: 1,
         41840: 1,
         'F00509274': 1,
         1476112: 1,
         551664868: 1,
         'F00575936': 1,
         1550350: 1,
         551936902: 1,
         671006: 1,
         1586093: 1,
         703985: 1,
         46918: 1,
         46919: 1,
         47094: 1,
         47099: 1,
         47100: 1,
         47690: 1,
         47691: 1,
         47692: 1,
         47693: 1,
         47694: 1,
         47695: 1,
         47696: 1,
         47697: 1,
         47698: 1,
         47700: 1,
         47849: 1,
         'F00662349': 1,
         1616445: 1,
         748047: 1,
         552297228: 1,
         780659: 1,
         786085: 1,
         823194: 1,
         1670260: 1,
         811968: 1,
         'F00769288': 1,
         1681540: 1,
         552498331: 1,
         1713849: 1,
         54792: 1,
         'F00863976': 1,
         1747248: 1,
         54937: 1,
         879310: 1,
         55025: 1,
         552933635: 1,
         'F00962537': 1,
         975231: 1,
         58854: 1,
         14294881: 1,
         2450482: 1,
         60040: 1,
         60064: 1,
         'F01175193': 1,
         1950135: 1,
         '59dbc64de12a825346fa': 1,
         62379: 1,
         62811: 1,
         1123415: 1,
         64660: 1,
         64908: 1,
         64909: 1,
         'b1s7a06017': 1,
         '36d25a8a68': 1,
         65474: 1,
         66329: 1,
         67116: 1,
         67747: 1,
         67748: 1,
         67750: 1,
         'F01541418': 1,
         16408544: 1,
         16409097: 1,
         16411171: 1,
         554074162: 1,
         16513236: 1,
         16515380: 1,
         16515879: 1,
         16516015: 1,
         16516085: 1,
         16516204: 1,
         16516492: 1,
         16521438: 1,
         16521612: 1,
         16522058: 1,
         16522262: 1,
         16523010: 1,
         16536110: 1,
         16539174: 1,
         16542450: 1,
         16548398: 1,
         16551920: 1,
         16559299: 1,
         16561487: 1,
         16561577: 1,
         16565964: 1,
         554127951: 1,
         554128056: 1,
         16569144: 1,
         16578994: 1,
         16589517: 1,
         16592719: 1,
         16612857: 1,
         16618818: 1,
         16621445: 1,
         16621679: 1,
         16633620: 1,
         '72d694s38a': 1,
         554184228: 1,
         554198632: 1,
         554202098: 1,
         554208100: 1,
         554254197: 1,
         554275281: 1,
         554305747: 1,
         261240: 1,
         554337846: 1,
         554379332: 1,
         554415349: 1,
         554420790: 1,
         554438951: 1,
         554488052: 1,
         554495737: 1,
         'F01694009': 1,
         554500367: 1,
         'F01692832': 1,
         15791: 1,
         17238: 1,
         17650: 1,
         18041: 1,
         32335: 1,
         312845: 1,
         729099: 1,
         1449245: 1,
         759076: 1,
         13777288: 1,
         1899236: 1,
         13967605: 1,
         553742332: 1,
         'F01405774': 1,
         '35a35bfe37d753e91a26': 1,
         'f9960a97a5e3fc05071c': 1,
         'F01656596': 1,
         1121462: 1,
         'o297621': 1,
         'o297674': 1,
         'o297690': 1,
         'o300251': 1,
         'o300255': 1,
         'o300265': 1,
         'o301222': 1,
         'o301225': 1,
         'o301228': 1,
         'o326569': 1,
         558408: 1,
         'o339901': 1,
         'o339902': 1,
         10022648738: 1,
         10022650070: 1,
         399329: 1,
         3002264456: 1,
         529992: 1,
         551126755: 1,
         'F00626246': 1,
         552088803: 1,
         2421719: 1,
         553244033: 1,
         'F01254115': 1,
         'F01412877': 1,
         553793266: 1,
         553807371: 1,
         15749528: 1,
         3415670282: 1,
         789493070: 1,
         840547758: 1,
         4534583037: 1,
         2516744: 1,
         2593971: 1,
         554298097: 1,
         1385010: 1,
         'F01694013': 1,
         554500380: 1,
         554475261: 1,
         864910: 1,
         23100435459: 1,
         553435995: 1,
         'NBU_SL146258#1-H': 1,
         'NBU_SL146258#1-J': 1,
         23100455168: 1,
         'ac1506875a1541298': 1,
         '50638670402276160301': 1,
         '50638670403470160331': 1,
         '50638670404732160430': 1,
         '50638670405884160530': 1,
         '50638670407247160703': 1,
         '50638670408374160803': 1,
         '50638670409633160908': 1,
         '50638670410694161009': 1,
         '50638670411660161105': 1,
         '50638670412773161209': 1,
         10806: 1,
         1839300000000: 1,
         73018: 1,
         192820: 1,
         195780: 1,
         198710: 1,
         201647: 1,
         204378: 1,
         207109: 1,
         209835: 1,
         212406: 1,
         213225: 1,
         215854: 1,
         218586: 1,
         221845: 1,
         12664008: 1,
         'F00980333': 1,
         'F01306600': 1,
         15407369: 1,
         15417331: 1,
         182334: 1,
         'F01480052': 1,
         16336681: 1,
         16336863: 1,
         554061333: 1,
         554082278: 1,
         554144951: 1,
         17028455: 1,
         17051481: 1,
         'F01637480': 1,
         554345636: 1,
         554500476: 1,
         301663: 1,
         'F01694041': 1,
         554500479: 1,
         553956567: 1,
         17035601: 1,
         22810: 1,
         550695842: 1,
         2623117: 1,
         554500507: 1,
         428046: 1,
         80934: 1,
         'F01694049': 1,
         554500516: 1,
         551684881: 1,
         'F01150684': 1,
         'F01247292': 1,
         'F01368420': 1,
         'F01615442': 1,
         554279734: 1,
         554402706: 1,
         554500578: 1,
         105871: 1,
         1913684: 1,
         286460: 1,
         316719: 1,
         '9006xb715705': 1,
         'F00886783': 1,
         552808542: 1,
         10846400000000: 1,
         307919: 1,
         7100056494: 1,
         7100056568: 1,
         225553: 1,
         1522451: 1,
         553301754: 1,
         '722207ba01': 1,
         'F01580915': 1,
         554182302: 1,
         'F01686967': 1,
         554479647: 1,
         554500668: 1,
         235288: 1,
         1758282: 1,
         1760496: 1,
         1762709: 1,
         1762777: 1,
         1765259: 1,
         1767420: 1,
         131888: 1,
         133262: 1,
         443926: 1,
         143574: 1,
         151698: 1,
         148831: 1,
         153749: 1,
         10108440944: 1,
         '9006xb784862': 1,
         347693: 1,
         348187: 1,
         852632: 1,
         'F00217756': 1,
         3806500000000: 1,
         'F01011969': 1,
         'F01449577': 1,
         'F01694078': 1,
         554500638: 1,
         32688: 1,
         65655: 1,
         874436: 1,
         1182076: 1,
         1182094: 1,
         1182111: 1,
         1184524: 1,
         1381495: 1,
         'F01694092': 1,
         554500689: 1,
         357151: 1,
         383854: 1,
         513545: 1,
         'F00138139': 1,
         550059966: 1,
         'F00210042': 1,
         551704250: 1,
         551945403: 1,
         'ac243857a278786': 1,
         'ac243857a443114': 1,
         'ac243857a978386': 1,
         'ac243857a1100505': 1,
         207289: 1,
         450000000000: 1,
         652400000000: 1,
         684814: 1,
         410839: 1,
         411424: 1,
         1800695: 1,
         13962510: 1,
         13967045: 1,
         'PL2-207403': 1,
         1974877: 1,
         1173562: 1,
         16483332: 1,
         'F01694097': 1,
         554500704: 1,
         'ac277696a317115': 1,
         377400000890: 1,
         545800000000: 1,
         628064: 1,
         2167929: 1,
         133815: 1,
         133816: 1,
         133970: 1,
         134297: 1,
         134299: 1,
         554500717: 1,
         'F01394675': 1,
         'F01673533': 1,
         41385500000000: 1,
         554450252: 1,
         588988: 1,
         4000400000000: 1,
         471412: 1,
         'IB107021770255303': 1,
         757143: 1,
         777084: 1,
         'F00156364': 1,
         12320200000000: 1,
         903006: 1,
         550229778: 1,
         550408738: 1,
         1065481: 1,
         550493975: 1,
         550500986: 1,
         550501120: 1,
         550501831: 1,
         550508415: 1,
         550517043: 1,
         550518857: 1,
         550546420: 1,
         550548736: 1,
         550551870: 1,
         550551902: 1,
         550552685: 1,
         3630718: 1,
         550584345: 1,
         550600530: 1,
         550600577: 1,
         550625028: 1,
         550629340: 1,
         550630978: 1,
         550633924: 1,
         550637350: 1,
         550650631: 1,
         550656360: 1,
         550663534: 1,
         550663561: 1,
         550663579: 1,
         550663622: 1,
         550663853: 1,
         550663878: 1,
         550663977: 1,
         550664017: 1,
         550666213: 1,
         550666220: 1,
         550666490: 1,
         550669347: 1,
         550671831: 1,
         550674505: 1,
         550674508: 1,
         550674513: 1,
         550674527: 1,
         550678065: 1,
         550679648: 1,
         550692133: 1,
         550692207: 1,
         550694726: 1,
         550712833: 1,
         550721218: 1,
         550721239: 1,
         550768046: 1,
         550768057: 1,
         550769649: 1,
         550773105: 1,
         550777738: 1,
         550782833: 1,
         4181059: 1,
         550833124: 1,
         550899358: 1,
         550906124: 1,
         550918925: 1,
         550933809: 1,
         550940236: 1,
         4508134: 1,
         550968223: 1,
         551021093: 1,
         551053103: 1,
         'IB207079622554612': 1,
         551090762: 1,
         4828141: 1,
         551128725: 1,
         'IB208106129322879': 1,
         1251368: 1,
         'IB208150377735366': 1,
         5140049: 1,
         5140090: 1,
         5140124: 1,
         5140271: 1,
         551450266: 1,
         5446975: 1,
         5845644: 1,
         6187409: 1,
         552050016: 1,
         6631776: 1,
         6632205: 1,
         6632340: 1,
         552092207: 1,
         6651284: 1,
         6668194: 1,
         6699967: 1,
         6702134: 1,
         552142041: 1,
         552154023: 1,
         552166035: 1,
         6868542: 1,
         552208713: 1,
         552227676: 1,
         552265495: 1,
         12248971: 1,
         12252930: 1,
         12252987: 1,
         552284185: 1,
         12261863: 1,
         12263131: 1,
         12263201: 1,
         552290897: 1,
         552300173: 1,
         12273967: 1,
         12279007: 1,
         12289326: 1,
         552319835: 1,
         12341896: 1,
         552347423: 1,
         552366360: 1,
         552435632: 1,
         552467569: 1,
         552475924: 1,
         552557553: 1,
         12908469: 1,
         12909507: 1,
         552595579: 1,
         13028383: 1,
         13126592: 1,
         13136415: 1,
         552675579: 1,
         552675638: 1,
         552710460: 1,
         552795699: 1,
         552812399: 1,
         552820424: 1,
         552837631: 1,
         42551: 1,
         552852009: 1,
         552858030: 1,
         552903031: 1,
         23100266512: 1,
         23100266520: 1,
         552909310: 1,
         552913248: 1,
         552926781: 1,
         552933164: 1,
         13600949: 1,
         552938667: 1,
         552943451: 1,
         552948092: 1,
         552950248: 1,
         552952220: 1,
         552960049: 1,
         552965373: 1,
         552965860: 1,
         552973395: 1,
         552973398: 1,
         1695608: 1,
         552979169: 1,
         23100295979: 1,
         23100295991: 1,
         552992670: 1,
         552996072: 1,
         553004991: 1,
         45012: 1,
         23100303515: 1,
         23100303581: 1,
         553010479: 1,
         13767683: 1,
         13796120: 1,
         2431422: 1,
         553039955: 1,
         553053086: 1,
         955850: 1,
         955869: 1,
         957310: 1,
         13857958: 1,
         23100311286: 1,
         23100311366: 1,
         323943: 1,
         65158: 1,
         65159: 1,
         47931: 1,
         65229: 1,
         65593: 1,
         65594: 1,
         553165135: 1,
         1756735: 1,
         2439192: 1,
         990694: 1,
         991955: 1,
         1001473: 1,
         14151775: 1,
         14152497: 1,
         23100332611: 1,
         2440663: 1,
         'NBU_SL88098#1-H': 1,
         'NBU_SL88098#1-J': 1,
         66114: 1,
         2442548: 1,
         14214209: 1,
         14214223: 1,
         14214229: 1,
         14216552: 1,
         14219876: 1,
         23100339566: 1,
         23100340536: 1,
         23100340598: 1,
         14237865: 1,
         23100341980: 1,
         66442: 1,
         50294: 1,
         14253478: 1,
         2177518: 1,
         2177697: 1,
         2183947: 1,
         2444537: 1,
         1024130: 1,
         14278990: 1,
         23100346798: 1,
         23100346824: 1,
         14297775: 1,
         2446727: 1,
         66898: 2,
         8518200000000: 1,
         2206379: 1,
         'mkb1023490': 1,
         1930099: 1,
         553303856: 1,
         67288: 1,
         14459342: 1,
         2451221: 1,
         2240843: 1,
         553340614: 1,
         2026659: 1,
         52518: 1,
         'F01180032': 1,
         1043387: 1,
         1043585: 1,
         2259581: 1,
         1051441: 1,
         68408: 1,
         14633240: 1,
         68603: 1,
         23100416248: 1,
         14713402: 1,
         23100433171: 1,
         69676: 1,
         'mkb1029177': 1,
         23100451519: 1,
         23100451555: 1,
         2468637: 1,
         9172899652: 1,
         23100470948: 1,
         148531: 1,
         2091046: 1,
         2428418: 1,
         2428450: 1,
         14966502: 1,
         2433754: 1,
         70994: 1,
         70995: 1,
         71010: 1,
         14975383: 1,
         7964458693: 1,
         15077202: 1,
         2476471: 1,
         72137: 1,
         553579535: 1,
         1113741: 1,
         15118310: 1,
         15120466: 1,
         15121387: 1,
         15121474: 1,
         15124646: 1,
         15129852: 1,
         553582712: 1,
         15203345: 1,
         15212154: 1,
         15218969: 1,
         2482072: 1,
         15392042: 1,
         5610488964: 1,
         'mkb1053248': 1,
         553693423: 1,
         1151475: 1,
         2125867: 1,
         7915544371: 1,
         15512352: 1,
         8867526281: 1,
         6400807546: 1,
         8072973814: 1,
         'mkb1061833': 1,
         1688099791: 1,
         'F01418290': 1,
         6585506970: 1,
         1177358: 1,
         1211376330: 1,
         6680292213: 1,
         68632: 1,
         9275249465: 1,
         1195518: 1,
         2500578: 1,
         201970844: 1,
         553894865: 1,
         8235636521: 1,
         5304350816: 1,
         1207526: 1,
         553925417: 1,
         8633435894: 1,
         2152478: 1,
         999239265: 1,
         'NBU_PS125564-H': 1,
         'NBU_PS125564-J': 1,
         3889581255: 1,
         6412619583: 1,
         9954213161: 1,
         1216269: 1,
         7193918458: 1,
         16208129: 1,
         4252898116: 1,
         1586504043: 1,
         23100638745: 1,
         23100638956: 1,
         23100642100: 1,
         23100645513: 1,
         23100648762: 1,
         23100651387: 1,
         77395: 1,
         554042211: 1,
         9787122717: 1,
         23100662757: 1,
         6922806595: 1,
         23100664681: 1,
         'mkb1089551': 1,
         1228258: 1,
         'mkb1091641': 1,
         1234038: 1,
         24100002983: 1,
         554138309: 1,
         554138351: 1,
         7866460258: 1,
         'F01566762': 1,
         7149239365049447941: 1,
         1336116211: 1,
         2515024: 1,
         24100019764: 1,
         1245201: 1,
         24100022181: 1,
         3222468337: 1,
         6912491512: 1,
         24100028828: 1,
         794669427: 1,
         2191027: 1,
         84428: 1,
         2299449738: 1,
         1024296839: 1,

In [15]:
def tot_claim_l180d(contracts):
  if isinstance(contracts, dict):
    return less_than_180d(contracts['claim_date']) if less_than_180d(contracts['claim_date']) else -3
  else:
    claim_ids = set()
    for contract in contracts:
      if less_than_180d(contract['claim_date']):
        claim_ids.add(contract['claim_id'])
    return len(claim_ids) if len(claim_ids) else -3

In [16]:
df['tot_claim_cnt_l180d'] = df['contracts'].apply(tot_claim_l180d)

In [17]:
# let's check if there invalid values
df['tot_claim_cnt_l180d'].value_counts()

tot_claim_cnt_l180d
-3     37
 2     28
 1     22
 3     11
 5      7
 4      7
 9      3
 6      3
 11     3
 13     3
 12     2
 8      2
 7      2
 34     1
 21     1
 44     1
 10     1
 62     1
 55     1
 18     1
Name: count, dtype: int64

## 3. Feature `disb_bank_loan_wo_tbc`

Description: Sum of exposue of loans without TBC loans. Exposure means here field `loan_summa`.
Source: `contracts`
Key fields: `bank`, `loan_summa`, `contract_date`
Special notes:
1. Consider only loans where field `bank` is not in `['LIZ', 'LOM', 'MKO', 'SUG', null]`.
2. Disbursed loans means loans where `contract_date` is not `null`

In case no claims, then put -3 as a value of this feature.

If no loans at all, then put -1 as a value of this feature.

In [18]:
# let's check how the names of banks look like
banks_count = val_count('bank')
banks_count

Counter({'003': 34,
         '014': 206,
         '053': 35,
         '062': 395,
         '009': 59,
         '063': 493,
         '055': 10,
         'MKO': 89,
         '002': 76,
         '013': 89,
         '004': 218,
         None: 37,
         'ORG': 42,
         '011': 37,
         '012': 42,
         '006': 62,
         '051': 27,
         '030': 72,
         '033': 181,
         '005': 24,
         '061': 78,
         'LOM': 205,
         '049': 16,
         '057': 3,
         '066': 1,
         '031': 15,
         '008': 5,
         '048': 5})

"In case no claims, then put -3 as a value of this feature.
If no loans at all, then put -1 as a value of this feature"
This part was confusing little bit to me, so this is how I
decided what record have no claims and what record has no loans at all:
1. If none of the contracts has valid `contract_date`, then this contract has no claims
2. If the total sum of `loan_summa` is 0, then it counted as no loans at all
Depending on the definiton it might change.

In [19]:
not_allowed_banks = ['LIZ', 'LOM', 'MKO', 'SUG', None]
def calculated_loan(contract):
  claim = loan = summa = 0
  # here I added `contract['contract_date'].strip() != ''`
  # since some dates are empty strings and they pass the first check
  if contract['contract_date'] is not None and contract['contract_date'].strip() != '':
    claim = 1
    # here I added 'bank' in contract checking,
    # since some contracts do not have this property
    if 'bank' in contract and contract['bank'] not in not_allowed_banks and isinstance(contract['loan_summa'], int):
      loan = 1
      summa = contract['loan_summa']
  return claim, loan, summa

def sum_of_exposure_loans(contracts):
  total = 0
  claim = loan = 0
  if isinstance(contracts, dict):
    claim, loan, summa = calculated_loan(contracts)
    if claim == 0:
      return -3
    if loan == 0:
      return -1
    return summa if summa else -1
  else:
    for contract in contracts:
      claim_, loan_, summa = calculated_loan(contract)
      claim |= claim_
      loan |= loan_
      total += summa
    if claim == 0:
      return -3
    elif loan == 0:
      return -1
  return total if total != 0 else -1

As we can see some `loan_summa` quantities are equal to empty string.

In [20]:
df['disb_bank_loan_wo_tbc'] = df['contracts'].apply(sum_of_exposure_loans)

In [21]:
# let's check if there invalid values
df['disb_bank_loan_wo_tbc'].value_counts()

disb_bank_loan_wo_tbc
-1             39
-3             28
 1148778676     1
 3319227081     1
 491809096      1
               ..
 3692414810     1
 7045370606     1
 431182433      1
 1374999700     1
 217320883      1
Name: count, Length: 72, dtype: int64

## 4. Feature `day_sinlastloan`

Description: Number of days since last loan.

Source: `contracts`

Key fields: `contract_date`, `summa`

Special notes:
1. Take last loan of client where `summa` is not `null` and calculate number of days from `contract_date` of this loan to `application date`.

In case no claims at all, then put `-3` as a value of this feature.

In case no loans at all, then put `-1` as a value of this feature.

In [22]:
vals_loan = val_count('loan_summa')
vals_loan

Counter({0: 339,
         '': 2051,
         99995700: 1,
         1826666670: 1,
         95023559: 1,
         616161522: 1,
         4800400: 1,
         559300000: 1,
         134400000: 1,
         986823571: 1,
         266176712: 1,
         923827006: 1,
         9905106700: 1,
         254283334: 1,
         18442666: 1,
         801807969: 1,
         447198944: 1,
         172656000: 1,
         233087600: 1,
         190050000: 1,
         300000000: 1,
         424380000: 1,
         19384938046: 1,
         10308484000: 1,
         1200000000: 2,
         3225259367: 1,
         28399988003: 1,
         389592220: 1,
         75600000: 1,
         6865950137: 1,
         208232666: 1,
         700000000: 1,
         1416572231: 1,
         2246066349: 1,
         243332915: 1,
         442425035: 1,
         39332200: 1,
         8150077272: 1,
         1000000000: 2,
         307403141: 1,
         133632000: 1,
         660811600: 1,
         309600000: 1,
         3767550595: 1,
         1374999700: 1,
         353297791: 1,
         77884642: 1,
         7045370606: 1,
         3190000000: 1,
         502414810: 1,
         41667400: 1,
         136001300: 1,
         1008000000: 1,
         872874400: 1,
         364000000: 1,
         275385500: 1,
         11528774954: 1,
         2854052300: 1,
         456374022: 1,
         34500000: 1,
         7713249426: 1,
         3300000000: 1,
         3696000: 1,
         333333500: 1,
         317100000: 1,
         64399700: 1,
         591134623: 1,
         118800000: 1,
         3369374993: 1,
         13029334: 1,
         82579825: 1,
         107673800: 1,
         29400000: 1,
         31248000: 1,
         1300000000: 2,
         13608000: 1,
         565060264: 1,
         314000000: 1,
         163599931: 1,
         574428564: 1,
         190848595: 1,
         197364715: 1,
         100000000: 2,
         747162615: 1,
         614107601: 1,
         205400000: 1,
         583332600: 1,
         3907981439: 1,
         486607056: 1,
         611600000: 1,
         713977300: 1,
         1469998800: 1,
         707319423: 1,
         411000000: 1,
         196974000: 1,
         204446666: 1,
         1121317: 1,
         31022042493: 1,
         953687751: 1,
         16666666: 1,
         33301061: 1,
         323870249: 1,
         69103888: 1,
         671264944: 1,
         477513732: 1,
         250000000: 1,
         32700000000: 1,
         60000000: 1,
         200000000: 1,
         150000000: 1,
         1217985809: 1,
         265500000: 1,
         3281945205: 1,
         151200000: 1,
         25142396: 1,
         466666700: 1,
         1277020624: 1,
         175588015: 1,
         175435881: 1,
         560186490: 1,
         377303857: 1,
         376998691: 1,
         376693523: 1,
         241824891: 1,
         3157856308: 1,
         882361654: 1,
         209141407: 1,
         190555379: 1,
         1923205715: 1,
         69000000: 1,
         10435758829: 1,
         10642774100: 1,
         159750000: 1,
         79466200: 1,
         1494204: 1,
         2655000001: 1,
         2874666: 1,
         22288000: 1,
         1046032985: 1,
         7269311925: 1,
         899910000: 1,
         912982004: 1,
         242618506: 1,
         259140744: 1,
         92499164: 1,
         875000000: 1,
         61274721: 1,
         198333200: 1,
         297334099: 1,
         1247185729: 1,
         1598577704: 1,
         840000000: 1,
         249917691: 1,
         387387217: 1,
         99935325: 1,
         275880000: 1,
         390720000: 1,
         18187711912: 1,
         505555560: 1,
         1766563873: 1,
         1177375147: 1,
         422772486: 1,
         330555556: 1,
         217320883: 1})

As we can see some `loan_summa` values are `0` or empty string.

In [23]:
def valid_contract_date(date):
  return date is not None and date.strip() != ''

def valid_loan_summa(summa):
  return summa not in ("", 0)

In [24]:
# given_date = datetime.strptime(date, date_format)
date_format = '%d.%m.%Y'
def last_loan(contracts):
  last_loan = -1
  claim = loan = 0
  if isinstance(contracts, dict):
    if not valid_contract_date(contracts['contract_date']):
      return -3
    if not valid_loan_summa(contracts['loan_summa']):
      return -1
    return datetime.strptime(contracts['contract_date'], date_format)
  for contract in contracts:
    if not valid_contract_date(contract['contract_date']):
      continue
    claim = 1
    if valid_loan_summa(contract['contract_date']):
      given_date = datetime.strptime(contract['contract_date'], date_format)
      loan = 1
      if last_loan == -1 or given_date > last_loan:
        last_loan = given_date
  if claim == 0:
    return -3
  if loan == 0:
    return -1
  return last_loan

In [25]:
def diff_contract_application(row):
  last_loan, application_date = row['last_loan'], row['application_date']
  application_date = datetime.strptime(application_date[:10], "%Y-%m-%d")
  if last_loan == -3:
    return -3
  if last_loan == -1:
    return -1
  return (application_date - last_loan).days

In [26]:
df['application_date'].value_counts()

application_date
2024-02-12 19:24:29.135000+00:00    1
2024-02-13 05:43:04.731000+00:00    1
2024-02-13 05:37:40.622000+00:00    1
2024-02-13 05:39:57.399000+00:00    1
2024-02-13 05:40:30.287000+00:00    1
                                   ..
2024-02-13 04:54:49.641000+00:00    1
2024-02-13 04:54:10.776000+00:00    1
2024-02-13 04:53:41.149000+00:00    1
2024-02-13 04:52:42.959000+00:00    1
2024-02-13 06:09:26.994000+00:00    1
Name: count, Length: 137, dtype: int64

In [27]:
df['last_loan'] = df['contracts'].apply(last_loan)

In [28]:
df['day_sinlastloan'] = df.apply(lambda x: diff_contract_application(x), axis=1)

Let's check the values and if there any invalid ones:

In [29]:
df['day_sinlastloan'].value_counts()

day_sinlastloan
-3      28
-1       5
 15      4
 13      3
 4       3
        ..
 106     1
 553     1
 156     1
 369     1
 729     1
Name: count, Length: 91, dtype: int64

In [30]:
df.columns

Index(['id', 'application_date', 'contracts', 'tot_claim_cnt_l180d',
       'disb_bank_loan_wo_tbc', 'last_loan', 'day_sinlastloan'],
      dtype='object')

In [31]:
# last_loan column is only needed to calculate day_sinlastloan,
# so, let's drop it
df = df.drop(columns=['last_loan'], axis=1)

In [32]:
df.columns

Index(['id', 'application_date', 'contracts', 'tot_claim_cnt_l180d',
       'disb_bank_loan_wo_tbc', 'day_sinlastloan'],
      dtype='object')